body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}
h1{
    color: blueviolet;
}
.menu-item{
    display: list-item;
    background: grey;
    padding: 20px;
    margin-bottom: 15px;
}